.layout {
  margin: 3rem 8rem;
}
@media (max-width: 1300px) {
  .layout {
    margin: 3rem;
  }
}
@media (max-width: 1150px) {
  .layout {
    margin: 2rem;
  }
}

.main {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}
