@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Nunito+Sans:wght@300;600;800&family=Nunito:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(224, 235, 247);
  color: rgb(61, 61, 61);
}
